@model IEnumerable<ASM_App_Dev.Models.OrderDetail>
@using ASM_App_Dev.Enums
@{
    ViewData["Title"] = "Index";
}

<h1>My Cart</h1>

<p>
    <a asp-controller="Orders" asp-action="Index">List Orders</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Book.NameBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Book.NameBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                
                @if(@item.Order.StatusOrder == OrderStatus.Unconfirmed){
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete | </a>}
                <a asp-action="Details" asp-route-id="@item.Id">Details </a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Orders" asp-action="Purchase" class="btn btn-info">Purchase</a>
