@model Cart
@using ASM_App_Dev.Enums
@using ASM_App_Dev.ViewModels
@{
    ViewData["Title"] = "Index";
}

<h1>My Cart</h1>
<p>
    <a asp-controller="Orders" asp-action="Index">List Orders</a>
</p>
<form asp-controller="OrderDetails" asp-action="Edit" method="post">

<table class="table">
    <thead>
        <tr>

            <th>
                Name Book
            </th>
            <th>
               Quantity
            </th>
            <th>
                Price
            </th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
@for (int i = 0; i < Model.orderDetails.Count; i++){

         <tr>
                <input asp-for="@Model.orderDetails[i].Id" type="hidden" value="@Model.orderDetails[i].Id" id="@Model.orderDetails[i].Id">
                <input asp-for="@Model.orderDetails[i].OrderId" type="hidden" value="@Model.orderDetails[i].OrderId">

            <td>
                @Html.DisplayFor(modelItem => Model.orderDetails[i].Book.NameBook)
                <input asp-for="@Model.orderDetails[i].BookId" type="hidden" value="@Model.orderDetails[i].BookId">

            </td>
            <td>
                @if (Model.orderDetails[i].Order.StatusOrder == OrderStatus.Unconfirmed){
                <input asp-for="@Model.orderDetails[i].Quantity"  value="@Model.orderDetails[i].Quantity" id = "quantity @Model.orderDetails[i].Id" 
                onchange="refresh(document.getElementById('@Model.orderDetails[i].Id').value,
                                    document.getElementById('quantity @Model.orderDetails[i].Id').value,
                                    document.getElementById('price @Model.orderDetails[i].Id').value)"/>}
                else {
                @Html.DisplayFor(modelItem => Model.orderDetails[i].Quantity)
                }
                
            </td>
            <td>
                <p  id="refreshPrice @Model.orderDetails[i].Id" >@Model.orderDetails[i].Price</p>
                <input asp-for="@Model.orderDetails[i].Book.Price" type="hidden" value="@Model.orderDetails[i].Book.Price" id="price @Model.orderDetails[i].Id">

            </td>
            <td>
                
                @if(@Model.orderDetails[i].Order.StatusOrder == OrderStatus.Unconfirmed){
                    <a asp-action="Delete" asp-route-id="@Model.orderDetails[i].Id">Delete | </a>}
                <a asp-action="Details" asp-route-id="@Model.orderDetails[i].Id">Details </a> 
                
            </td>
        </tr>
}
    </tbody>

</table>
<h3>Total: @Model.totalPrice </h3>

<button type="submit" class="btn btn-info">Purchase</button>
 </form>

<script>
function refresh(idOrderDetail, quantity, price) {
    var a = "refreshPrice " + idOrderDetail;
    document.getElementById(a).innerHTML = quantity * price;
}



</script>