@using ASM_App_Dev.Utils
@using ASM_App_Dev.ViewModels
@using Microsoft.AspNetCore.Identity

@model AdminViewModel

<h1>This is Admin page</h1>


<a asp-action="VerifyCategoryRequest" asp-controller="Admin" class="btn btn-primary">Verify Category Request</a>


<h1>All Users</h1>



  @*<form method="POST">
       <select name="roleName" class="form-control" 
            asp-items="@(new SelectList(RoleList,"Id","Name"))">
       </select>
        <button type="submit" class="btn btn-primary">Select</button>
  </form>*@


   <form method="POST">
       <select asp-for="@Model.Input.Role" class="form-control"
                        asp-items="@Model.RoleSelectList">
                   @* <option value="">-- Select Role --</option>*@
        </select>
        <button type="submit" class="btn btn-primary">Select</button>
  </form>


<table class="table">
  <thead>
    <tr>
      <th scope="col">ID User</th>
      <th scope="col">User Email</th>
      <th scope="col">Email Confirmed</th>
      <th scope="col">Action</th>
    </tr> 
  </thead>
  <tbody>
    @foreach (var item in Model.Users){
      <tr>
        <th scope="row">@item.Id</th>
        <td>@item.Email</td>
                <td scope="row">@item.EmailConfirmed</td>
        <td><a asp-action="ChangePassword" asp-controller="Admin" asp-route-id=@item.Id>Change Password</a></td>
      </tr>
  }
  </tbody>
</table>